@mixin flex($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-around;
}

.dash{

  margin-top: 6vh;

  #header{
    padding: 1.5rem;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
  }

  .dashboard{
    @include flex;
    margin-top: 1rem;

    .movie-link{
      background-color: Indigo;
      width: 70%;
      padding: 2rem;
      margin: 0 2rem;
      cursor: pointer;
      border-radius: 0.5rem;
      text-decoration: none;
      color: white;

      .title{
        font-size: 1.25rem;
        color: DarkOrange;
      }

      span{
        padding: 0.5rem 0;
      }
    }

    .movie-link:hover{
      background-color: DarkViolet;
    }

    .movie-palette{
      @include flex($direction: column);

      img{
        height: 300px;
        width: 200px;
      }
    }
  }
}

@media (max-width: 1100px){

  .dash{

    .dashboard{

      .movie-link{
        padding: 2rem 1rem 0 ;
        margin: 0 1rem;
        width: 40%;

        .movie-palette{

          img{
            height: 200px;
            width: 130px;
          }
        }
      }
    }
  }
}

@media (max-width 800px){
  .dash{

    .dashboard{

      .movie-link{
        padding: 2rem 1rem;
        margin: 1rem 0.5rem;
        width: 20%;

        .movie-palette{

          img{
            height: 200px;
            width: 130px;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .dash{
    margin-top: 11vh;
    height: 86vh;

    .dashboard{
      @include flex($direction: column);

      .movie-link{
        padding: 2rem 1rem;
        margin: 2rem;
        width: 70%;

        .movie-palette{

          img{
            height: 300px;
            width: 200px;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .dash{
    margin-top: 11vh;
    height: 86vh;
  }
}

@media (max-height: 200px) {
  .dash{
    margin-top: 11vh;
    height: 86vh;
  }
}




