<div class="dash">
  <span id="header">Top 3 IMDb movies:</span>
  <span></span>
  <div class="dashboard">
    <a class="movie-link"
       *ngFor="let movie of movies.slice(0, 3)"
       routerLink="/full-info/{{ movie.id }}">
      <div class="movie-palette">
        <span [ngStyle]="movie.rank === '1'? {'font-size': '2rem', 'font-weight': 'bold', 'color': 'gold'}
        : movie.rank === '2'? {'font-size': '1.5rem', 'font-weight': 'bolder', 'color': 'silver'}
        : movie.rank === '3'? {'font-size': '1.25rem', 'font-weight': 'bolder', 'color': '#cd7f32'}: null"
        >№ {{ movie.rank }}</span>
        <img src="{{ movie.image }}">
        <span class="title"> Title: {{ movie.title }}</span>
        <span>Rating: {{ movie.imDbRating }}</span>
        <span>Year: {{ movie.year }}</span>
      </div>
    </a>
  </div>
</div>
